@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-screen h-screen p-5;
    &:has(main#root) {
        @apply w-screen h-screen p-0 fixed top-0 left-0 overflow-hidden;
    }
    > main {
        @apply grid w-full h-full;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "header" "article";
        > header {
            @apply w-full h-12 flex flex-row items-center justify-start;
            grid-area: header;
        }
        > article {
            @apply w-full h-full bg-blue-500/50;
            grid-area: article;
            div.splitpanes.default-theme {
                @apply w-full h-full;
                div.splitpanes__pane {
                    @apply grid bg-slate-100;
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr;
                }
                div.splitpanes__splitter {
                    @apply border-none bg-white flex flex-row items-center justify-center;
                    &:hover::before, &:hover::after, &::before, &::after {
                        @apply bg-transparent border-none;
                    }
                }
            }
            #code {
                @apply grid w-full h-full overflow-auto;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr;
                .cm-editor.ͼ1.ͼ2.ͼ4 {
                    @apply w-full h-full overflow-auto;
                    .cm-gutters {
                        @apply hidden;
                    }
                    .cm-content {
                        @apply pl-3 pt-4;
                        font-family: 'JetBrains Mono', monospace;
                        font-size: .925rem;
                        line-height: 1.375;
                        .cm-line {
                            @apply relative font-medium;
                            &.cm-activeLine {
                                @apply bg-transparent;
                            }
                        }
                        .cm-matchingBracket {
                            @apply bg-blue-500/25;
                        }
                        .ͼ7 {
                            @apply no-underline;
                            &.ͼ5 {
                                @apply no-underline;
                                + .ͼ7 {
                                    @apply no-underline;
                                }
                            }
                        }
                        .ͼ6 {
                            @apply no-underline;
                            &.ͼc {
                                @apply text-blue-700;
                            }
                        }
                        .ͼ5 {
                            @apply text-slate-900;
                        }
                        .ͼc {
                            @apply text-slate-900;
                        }
                    }
                    .cm-cursorLayer {
                        .cm-cursor.cm-cursor-primary {
                            @apply bg-slate-900 rounded border-none w-0.5;
                        }
                    }
                    .cm-selectionLayer {
                        .cm-selectionBackground {
                            @apply bg-blue-500/25;
                        }
                    }
                }
            }
            #page {
                @apply w-full h-full overflow-auto;
            }
        }
    }
}
#book { @apply w-full h-full; }
#book > ol { @apply pl-3.5 pt-3; }
#book > ol li > ol { @apply pl-6; }
#book > ol li > div {
    @apply grid w-full h-6 relative cursor-grab;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto 1fr;
}
#book > ol li > div:active { @apply cursor-grabbing; }
#book > ol li > div > span { @apply w-6 h-6 grid place-items-center text-slate-800; }
#book > ol li > div > span > svg { @apply h-4 fill-slate-800; }
#book > ol li > div > span > button { @apply w-6 h-6 aspect-square grid place-items-center text-slate-800; }
#book > ol li > div > span > button > svg { @apply h-4 fill-current; }
#book > ol li > div > .link { @apply h-6 px-1 flex flex-row items-center justify-start text-slate-800 font-medium whitespace-nowrap; }
#book > ol li > div:hover > .link,
#book > ol li > div:hover > span { @apply text-slate-400; }
#book > ol li > div.view > .link,
#book > ol li > div.view > span { @apply text-blue-600; }
#book > ol li > div.view > span > svg { @apply fill-blue-600; }
#book > ol li > div.each > .link,
#book > ol li > div.each > span { @apply text-slate-500; }
#book > ol li > div.each > span > svg { @apply fill-slate-500; }
#book > ol li > div.drag > .link,
#book > ol li > div.drag > span { @apply text-slate-300; }
#book > ol li > div.drag > span > svg { @apply fill-slate-300; }
#book > ol li > div.over > .link,
#book > ol li > div.over > span { @apply text-blue-500; }
#book > ol li > div.over > span > svg { @apply fill-blue-500; }
#book > ol span.menu > ul { @apply w-32 absolute top-6 left-1 z-50 flex flex-col items-start justify-start cursor-pointer bg-slate-400 shadow-lg shadow-slate-900/25 rounded overflow-hidden; }
#book > ol span.menu > ul > li { @apply w-full flex flex-row items-center justify-start; }
#book > ol span.menu > ul > li > button { @apply w-full h-6 flex items-center justify-start text-sm font-semibold whitespace-nowrap px-1 text-black; }
#book > ol span.menu > ul > li > button:hover { @apply bg-slate-500; }

#head {
    @apply w-full h-full flex flex-row items-center justify-start gap-1 pl-3 pr-1.5;
}
#head button {
    @apply flex flex-row items-center justify-start text-sm font-semibold;
}
#head button:first-of-type svg {
    @apply h-4 fill-blue-600;
}
#head button[disabled] {
    @apply cursor-not-allowed;
}
#head button[disabled] svg {
    @apply fill-slate-400/50;
}
#head button span {
    @apply grid place-items-center h-full px-1.5;
}
#head button span svg {
    @apply w-4 fill-slate-900;
}